<header>
  <div class="container">
    <div class="row">
      <div class="twelve columns">        
        <h1 class="header-title"><a class="header-link" href="{{site.baseurl}}/">{{site.title}}</a></h1>
        <p class="subheader"><i>The portfolio of Joey Li, a Baltimore-based photographer who enjoys taking pictures of <a class="header-link" href="{{site.baseurl}}/people">people</a> and <a class="header-link" href="{{site.baseurl}}/places">places</a>.
        </i></p>
      </div>
    </div>
  </div>
</header>
